<div class="posts-wrapper pt-0">

    <%= link_to new_post_path, class: 'col-xs-2 btn btn-primary add-button' do %>
      <ion-icon name="add-circle" class="add-icon"></ion-icon>
    <% end %>
    <div class="col-xs-6 add-button-text hidden-xs">Create New Post</div>

</div>
