<div class="container">
  <% if current_user %>
    <%= render partial: 'add_new_post' %>
  <% end %>
  <br/>
  <div class="posts-wrapper">
    <h3>
      Current posts:
    </h3>
  </div>
  <div id="posts">
    <%= render @posts %>
  </div>
  <div id="paginator" class="text-center">
    <%= link_to_next_page @posts, 'LOAD', remote: true, id: 'load_more', class: 'btn btn-default' %>
  </div>
  <%= render partial: 'paginate', locals: { posts: @posts} %>
</div>
