/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  height: 100%;
}

body {
   background-color: #fafafa;
   font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
   height: 100%;
 }

 .alert {
   opacity: 1;
 }

.add-icon {
  font-size: 2em;
}

.add-button-text {
  line-height: 2em;
  padding: .75em 1em;
}

 /* ## NAVBAR CUSTOMISATIONS ## */
 .navbar { z-index: 3;}
 .navbar-brand {
   a {
     color: #125688;
   }
 }

 .navbar-collapse {
   background-color: #fff;
 }

 .navbar-container {
   width: 70%;
   margin: 0 auto;
 }

 .navbar-nav {
   background: inherit;
 }

 /* ## SignUp  ## */

.registration-bg {
  padding-top: 4em;
  height: 100%;
  background-image: image-url('john-cobb-13961.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-in-bg {
  padding-top: 4em;
  height: 100%;
  background-image: image-url('thomas-griesbeck-149034.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-in {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
  box-shadow: 2px 2px 15px 0px rgba(0,0,0,.4);

  .error_notification {
    background: #bf5959;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: .5em 0;
    color: white;
  }
}

.panel {
  border-radius: 8px;
}

.panel-heading {
  h1 {
    text-align: center;
  }
}

.panel-body {
  .input {
    padding-top: .5em;
    input {
      padding: .4em;
      border-radius: .2em;
      width: 100%;
      border: 1px solid rgba(0,0,0,.2);
      box-sizing: border-box;
      outline-color: #12b7b7;
    }
    span.error {
      color: #bf5959;
    }
  }

  input[type="submit"] {
    background: #12b7b7;
    width: 100%;
    color: white;
    border-radius: .3em;
    padding: .5em 0;
    outline: none;
    margin-top: .5em;
  }
}

 /* ## POST CUSTOMISATIONS ## */

 .posts-wrapper {
   padding-top: 20px;
   margin: 0 auto;
   max-width: 642px;
   width: 100%;
 }

 #paginator {
   margin: 1em auto 0;
 }

 .post {
   background-color: #fff;
   border-color: #edeeee;
   border-style: solid;
   border-radius: 3px;
   border-width: 1px;
   margin-bottom: 60px;
   .post-head {
     flex-direction: row;
     height: 64px;
     padding-left: 24px;
     padding-right: 24px;
     padding-top: 24px;
     color: #125688;
     font-size: 15px;
     line-height: 18px;
     .user-name, .time-ago {
       display: inline;
     }
     .user-name {
       font-weight: 500;
     }
     .time-ago {
       color: #A5A7AA;
       float: right;
     }
   }
   .image {
     border-bottom: 1px solid #eeefef;
     border-top: 1px solid #eeefef;
   }
 }

 .post:Last-Child {
   margin-bottom: 0;
 }

 .post-bottom {
   .user-name, .comment-content {
     display: inline;
   }

   .caption {
     margin-bottom: 7px;
     .user-caption {
       pull: right;
     }
   }

    [id^="comment_"] div:nth-child(even) {
      background: rgba(0,0,0,.02);
    }

   .user-name {
     font-weight: 500;
     // margin-right: 0.3em;
     color: #125688;
     font-size: 15px;
   }
   .user-name, .caption-content {
     display: inline;
   }
   .caption-content {
     padding-bottom: .3em;
   }
   #comment {
     margin-top: 7px;
     .user-name {
       font-weight: 500;
       margin-right: 0.3em;
     }
     .delete-comment {
       float: right;
       color: #515151;
     }
   }
   margin-bottom: 7px;
   padding-top: 24px;
   padding-left: 24px;
   padding-right: 24px;
   padding-bottom: 10px;
   font-size: 15px;
   line-height: 18px;
 }

 .comment_content {
   font-size: 15px;
   line-height: 18px;
   border: medium none;
   color: #4B4F54;
 }

 .comment-like-form {
   // padding-top: 24px;
   margin-top: 13px;
   margin-left: 24px;
   margin-right: 24px;
   min-height: 68px;
   align-items: center;
   // border-top: 1px solid #EEEFEF;
   flex-direction: row;
   justify-content: center;
 }

/*
  << PAGINATION ADJUSTMENTS WITHIN POSTS#INDEX >>
*/

.paginate-links {
  text-align: center;
}


 /* ## Wrapper and styling for the post#new and post#edit views ## */

 .form-wrapper {
   width: 60%;
   margin: 20px auto;
   background-color: #fff;
   padding: 40px;
   border: 1px solid #eeefef;
   border-radius: 3px;
 }

 .edit-links {
   margin-top: 20px;
   margin-bottom: 40px;
 }

// Profile



 #user_avatar {
   margin: 20px auto;
 }

 .img-circle {
  // width: 60%;
  // min-width: 125px;
  display: inline-block;
 }
 .profile-header {
   padding: 20px 0;
 }

 .profile-image {
   margin: 20px auto;
   height: 152px;
   width: 152px;
 }

 .user-name-and-follow {
   display: inline;
 }

 .profile-user-name {
   display: inline;
 }

 .edit-button {
   border-color: #818488;
   color: #818488;
   margin-left: 20px;
 }

 .profile-bio {
   margin-top: 20px;
 }


.pt-0 {
  padding-top: 0 !important;
}

@media only screen and (max-width: 480px) {
  .text-xs-center {
    text-align: center;
  }

  .add-button {
    background: none;
    border: none;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 2em;
    z-index: 2;
    ion-icon {
      color: #337ab7;
    }
  }
  .add-button:active,
  .add-button:hover,
  .add-button:active:hover {
    background: inherit;
    box-shadow: none;
  }

  .add-button-text {
    line-height: 2em;
    padding: .75em 1em;
  }
}
